.sidebar-item{
   transition: all 0.3s ease-in-out;
}

.sidebar-item:hover{
   background-color: #3b82fc;
   cursor: pointer;
   color: white;
}

.cshadow{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}